<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <mat-nav-list>
            <h3 mat-subheader>
                <mat-icon>question_answer </mat-icon> Trending Movies
            </h3>
            <a mat-list-item routerLink="/trending today" routerLinkActive="active-side" (click)="sidenav.close()">
                &nbsp;&nbsp;&nbsp; <span class="nav-caption">Trending Today</span>
            </a>
            <a mat-list-item routerLink="/trending this week" routerLinkActive="active-side" (click)="sidenav.close()">
                &nbsp;&nbsp;&nbsp; <span class="nav-caption">Trending This Week</span>
            </a>
            <mat-divider></mat-divider>
            <h3 mat-subheader>
                <mat-icon>art_track </mat-icon> <span class="nav-caption">Browse Movies</span>
            </h3>
            <a mat-list-item routerLink="/top 100 movies" routerLinkActive="active-side" (click)="sidenav.close()">
                &nbsp;&nbsp;&nbsp; <span class="nav-caption">Top 100 movies</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <navbar class="navbar  unique-color-dark  fixed-top justify-content-between">
            <mdb-navbar-brand>
                &nbsp;&nbsp; <a class="navbar-brand" href=""> <i class="fas text-white  fa-magnet"></i></a>
            </mdb-navbar-brand>
            <links>
                <button type="button " class="waves-light mybtn " routerLink='/trending today'
                    routerLinkActive="myactive" mdbWavesEffect> Trending</button>
                <button type="button " class="waves-light mybtn " routerLink='/top 100 movies'
                    routerLinkActive="myactive" mdbWavesEffect>Top 100</button>
                <button class="white-text" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>
                        menu
                    </mat-icon>
                </button>
            </links>
        </navbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>